
<% if @client.errors.any? %>
    <div id="error_explanation" xmlns="http://www.w3.org/1999/html">
      <div class="alert-error">
        <h2> The form contains <%= pluralize(@client.errors.count, "error") %> : </h2>
        <% @client.errors.full_messages.each do |msg| %>
            <h2>* <%= msg %> </h2>
        <% end %>
      </div>
    </div>
<% end %>

<%= form_for(@client) do |f| %>
    <div class="field">
      <%= f.text_field :name, :placeholder => "Nombre(s)"%></br>
      <%= f.text_field :last_name, :placeholder => "Apellido(s)"%></br>
      <%= f.email_field :email, :placeholder => "Email"%></br>
      <%= f.number_field :phone, :placeholder => "Celular"%></br>
      <%= f.text_field :depto, :placeholder => "Departamento"%></br>
      <%= f.label :status %>
      <%= f.select :status, [['Pending','Pending'],['Closed','Closed'] ,['Installed','Installed']] %>
      <%= f.label :date %>
      <%= f.text_field :date, :id => "datepicker"%>
    </div>

    <div class="actions">
      <%= f.submit "Update Order" ,:class=>"btn btn-large btn-inverse btn-index"%>
    </div>
<% end %>
