<div class="transbox" xmlns="http://www.w3.org/1999/html">
  <div class='opacity1'></div>
  <div class='header'>
    <h2>Service Order Info</h2>
  </div>
  <div class='opacity2'></div>
  <div class='body'>
    <h3>
    <b>Name:</b>
    <%= @client.name %>
    </br>

    <b>Last name:</b>
    <%= @client.last_name %>
    </br>

    <b>Email:</b>
    <%= @client.email %>
    </br>

    <b>Phone:</b>
    <%= @client.phone %>
    </br>

    <b>Depto:</b>
    <%= @client.depto %>
    </br>

    <b>Status:</b>
    <%= @client.status %>
    </br>

    <b>Date:</b>
    <%= @client.date %>
    </br>
    </h3>
<%= link_to 'Back', clients_path, :class=>"btn btn-inverse btn-index" %>
  </div>
</div>